<% wrap_layout :layout do %>
  <div class="Blog">
    <article class="Blog-post">
      <div class="Blog-post-header">
        <% link_to "..", class: "u-noBorder" do %>
          <%= image_tag "logo-square.svg", alt: "Made by Form", class: "Blog-logo", draggable: "false" %>
        <% end %>
      </div>

      <div class="Blog-post-metadata">
        <span class="Blog-post-metadata-date">
          <%= current_article.date.strftime('%b %e, %Y') %>
        </span>

        <% if current_article.data.author %>
          <span class="Blog-post-metadata-by">by</span>
          <%= link_to current_article.data.author,
            settings.authors[current_article.data.author] %>
        <% end %>
      </div>

      <h1><%= current_article.title %></h1>

      <%= yield %>
    </article>
  <div>
<% end %>
