<% @body_classes = "body--dark" %>

<div class="Homepage">
  <div class="Homepage-content">
    <!--[if lte IE 8]><%= image_tag "logo.png", alt: "Made by Form", class: "Homepage-logo" %><![endif]-->
    <!--[if gt IE 8]><!--><%= image_tag "logo.svg", alt: "Made by Form", class: "Homepage-logo", draggable: "false" %><!--<![endif]-->
    <p>
      We're a consultancy working in the intersection of code and design.
      Our expertise lies in web application and iOS development, user experience design and research.
    </p>
    <ul class="Homepage-links">
      <li><%= link_to "Blog", "blog" %></li>
      <li><%= link_to "@madebyform", "https://twitter.com/madebyform" %></li>
      <li><%= link_to "GitHub", "https://github.com/madebyform" %></li>
      <li><%= link_to "Email", "mailto:hello@madebyform.com" %></li>
    </ul>
  </div>
</div>
